<a href="https://colab.research.google.com/github/simplifique-treinamentos/curso-intro-python/blob/main/Aula6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
idades = [25, 23, 18, 29, 35, 67, 18, 19, 20, 27]
df = pd.DataFrame(idades)
df.head()

    0
0  25
1  23
2  18
3  29
4  35

In [5]:
#Carregando as idades e inserindo um nome de coluna
idades = [25, 23, 18, 29, 35, 67, 18, 19, 20, 27]
df = pd.DataFrame(idades, columns = ['idade'])
df.head()

   idade
0     25
1     23
2     18
3     29
4     35

In [7]:
#Carregando várias colunas em um DataFrame
dados = [ ['1',25, 'F'] , ['2', 23, 'M'], ['3', 18, 'F']]
df = pd.DataFrame(dados, columns= ['id','idade','sexo'])
df.head()

  id  idade sexo
0  1     25    F
1  2     23    M
2  3     18    F

In [8]:
#Primeiro crio um dicionário (Chave e valores)
primeiro_dicionario = {
                        "idaluno": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                        "idade":   [25, 23, 18, 29, 35, 67, 18, 19, 20, 27]
}

#Depois, exibo seu conteúdo
primeiro_dicionario

{'idaluno': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'idade': [25, 23, 18, 29, 35, 67, 18, 19, 20, 27]}

In [9]:
type(primeiro_dicionario)

dict

In [10]:
df = pd.DataFrame(primeiro_dicionario)
df

   idaluno  idade
0        1     25
1        2     23
2        3     18
3        4     29
4        5     35
5        6     67
6        7     18
7        8     19
8        9     20
9       10     27

In [11]:
caminho = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv'

In [14]:
df_diabetes = pd.read_csv(caminho, header=None, sep="," , decimal=".")
df_diabetes.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [15]:
#Renomeio as colunas
df_diabetes.columns = ['preg','plas','pres','skin','test','mass','pedi','age','class']
df_diabetes.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [16]:
#Renomeio as colunas para português
df_diabetes.rename( columns = {'preg': 'num_gravidez',
                               'plas': 'glicose',
                               'pres': 'pressao_dias',
                               'skin': 'espessura_pele',
                               'test': 'teste_insulina',
                               'mass': 'imc',
                               'pedi': 'diabetes_pedigree_function',
                               'age': 'idade',
                               'class': 'diabetes'
                               }, inplace = True
                  )

df_diabetes.head()

,num_gravidez,glicose,pressao_dias,espessura_pele,teste_insulina,imc,diabetes_pedigree_function,idade,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [18]:
df_diabetes.head(6)

,num_gravidez,glicose,pressao_dias,espessura_pele,teste_insulina,imc,diabetes_pedigree_function,idade,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0

In [19]:
df_diabetes.tail(5)

,num_gravidez,glicose,pressao_dias,espessura_pele,teste_insulina,imc,diabetes_pedigree_function,idade,diabetes
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [20]:
df_diabetes.shape

(768, 9)

In [21]:
df_diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   num_gravidez                768 non-null    int64
 1   glicose                     768 non-null    int64
 2   pressao_dias                768 non-null    int64
 3   espessura_pele              768 non-null    int64
 4   teste_insulina              768 non-null    int64
 5   imc                         768 non-null    float64
 6   diabetes_pedigree_function  768 non-null    float64
 7   idade                       768 non-null    int64
 8   diabetes                    768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

# Estatísticas descritivas básicas

In [22]:
df_diabetes.describe()

,num_gravidez,glicose,pressao_dias,espessura_pele,teste_insulina,imc,diabetes_pedigree_function,idade,diabetes
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [23]:
df_diabetes.num_gravidez.value_counts()

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: num_gravidez, dtype: int64

In [24]:
df_diabetes.num_gravidez.value_counts(normalize=True)

1     0.175781
0     0.144531
2     0.134115
3     0.097656
4     0.088542
5     0.074219
6     0.065104
7     0.058594
8     0.049479
9     0.036458
10    0.031250
11    0.014323
13    0.013021
12    0.011719
14    0.002604
15    0.001302
17    0.001302
Name: num_gravidez, dtype: float64

In [25]:
df_diabetes.num_gravidez.unique()

array([ 6,  1,  8,  0,  5,  3, 10,  2,  4,  7,  9, 11, 13, 15, 17, 12, 14])

In [26]:
sorted(df_diabetes.num_gravidez.unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17]

#Exercício - Explorar Dataset de doenças cardiovasculares

In [29]:
caminho2 = 'https://raw.githubusercontent.com/simplifique-treinamentos/datasets/master/hearts_processed_cleveland.csv'

In [36]:
df_cvd = pd.read_csv(caminho2, header=0, sep=";" , decimal=".")
df_cvd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [37]:
df_cvd.shape

(303, 14)

In [38]:
df_cvd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    float64
 1   sex       303 non-null    float64
 2   cp        303 non-null    float64
 3   trestbps  303 non-null    float64
 4   chol      303 non-null    float64
 5   fbs       303 non-null    float64
 6   restecg   303 non-null    float64
 7   thalach   303 non-null    float64
 8   exang     303 non-null    float64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    float64
 11  ca        299 non-null    float64
 12  thal      301 non-null    float64
 13  num       303 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 33.3 KB

In [39]:
df_cvd.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000,301.000000,303.000000
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241,4.734219,0.937294
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438,1.939706,1.228536
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,3.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,7.000000,2.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000,4.000000

In [41]:
#Obter a moda
moda = df_cvd['age'].mode()
moda

0    58.0
Name: age, dtype: float64

In [42]:
df_cvd.sex.value_counts()

1.0    206
0.0     97
Name: sex, dtype: int64

In [43]:
df_cvd.sex.value_counts(normalize=True)

1.0    0.679868
0.0    0.320132
Name: sex, dtype: float64

In [44]:
#Desfechos - 0:nomal | 1 a 4 - com Doença CardioVascular
df_cvd.num.value_counts()

0    164
1     55
2     36
3     35
4     13
Name: num, dtype: int64