<a href="https://colab.research.google.com/github/simplifique-treinamentos/curso-intro-python/blob/main/EDA2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
idades = [25, 23, 18, 29, 35, 67, 18, 19, 20, 27]
df = pd.DataFrame(idades, columns=['idade'])
df.head()

   idade
0     25
1     23
2     18
3     29
4     35

In [5]:
dados = [ ['1', 25, 'F'], ['2', 23, 'M'], ['3', 18, 'F']]
df = pd.DataFrame(dados, columns = ['id', 'idade', 'sexo'])
df.head()

  id  idade sexo
0  1     25    F
1  2     23    M
2  3     18    F

In [6]:
primeiro_dicionario = {
                        "idaluno": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                        "idade": [25, 23, 18, 29, 35, 67, 18, 19, 20, 27]
                      }
primeiro_dicionario

{'idaluno': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'idade': [25, 23, 18, 29, 35, 67, 18, 19, 20, 27]}

In [7]:
type(primeiro_dicionario)

dict

In [8]:
df = pd.DataFrame(primeiro_dicionario)
df

   idaluno  idade
0        1     25
1        2     23
2        3     18
3        4     29
4        5     35
5        6     67
6        7     18
7        8     19
8        9     20
9       10     27

In [34]:
caminho = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv'

In [35]:
df_diabetes = pd.read_csv(caminho, header=None, sep="," , decimal=".")
df_diabetes.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [36]:
df_diabetes.columns = ['preg','plas','pres','skin','test','mass','pedi','age','class']
df_diabetes.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [38]:
df_diabetes['class'].value_counts()

0    500
1    268
Name: class, dtype: int64

In [12]:
df_diabetes.rename(columns = {'preg': 'num_gravidez',
                              'plas': 'glicose',
                              'pres': 'pressao_dias',
                              'skin': 'espessura_pele',
                              'test': 'teste_insulina',
                              'mass': 'imc',
                              'pedi': 'diabetes_pedigree_function',
                              'age': 'idade',
                              'class': 'diabetes'
                              }, inplace = True
                   )
df_diabetes.head()

,num_gravidez,glicose,pressao_dias,espessura_pele,teste_insulina,imc,diabetes_pedigree_function,idade,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [13]:
df_diabetes.tail(5)

,num_gravidez,glicose,pressao_dias,espessura_pele,teste_insulina,imc,diabetes_pedigree_function,idade,diabetes
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [14]:
df_diabetes.shape

(768, 9)

In [15]:
df_diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   num_gravidez                768 non-null    int64
 1   glicose                     768 non-null    int64
 2   pressao_dias                768 non-null    int64
 3   espessura_pele              768 non-null    int64
 4   teste_insulina              768 non-null    int64
 5   imc                         768 non-null    float64
 6   diabetes_pedigree_function  768 non-null    float64
 7   idade                       768 non-null    int64
 8   diabetes                    768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [16]:
df_diabetes.describe()

,num_gravidez,glicose,pressao_dias,espessura_pele,teste_insulina,imc,diabetes_pedigree_function,idade,diabetes
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [17]:
df_diabetes.num_gravidez.value_counts()

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: num_gravidez, dtype: int64

In [18]:
df_diabetes.num_gravidez.value_counts(normalize=True)

1     0.175781
0     0.144531
2     0.134115
3     0.097656
4     0.088542
5     0.074219
6     0.065104
7     0.058594
8     0.049479
9     0.036458
10    0.031250
11    0.014323
13    0.013021
12    0.011719
14    0.002604
15    0.001302
17    0.001302
Name: num_gravidez, dtype: float64

In [19]:
df_diabetes.num_gravidez.unique()

array([ 6,  1,  8,  0,  5,  3, 10,  2,  4,  7,  9, 11, 13, 15, 17, 12, 14])

In [20]:
sorted(df_diabetes.num_gravidez.unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17]

# Ordenar por colunas

In [21]:
df_diabetes.sort_values(by="num_gravidez", ascending= True)

,num_gravidez,glicose,pressao_dias,espessura_pele,teste_insulina,imc,diabetes_pedigree_function,idade,diabetes
467,0,97,64,36,100,36.8,0.600,25,0
109,0,95,85,25,36,37.4,0.247,24,1
452,0,91,68,32,210,39.9,0.381,25,0
449,0,120,74,18,63,30.5,0.285,26,0
448,0,104,64,37,64,33.6,0.510,22,1
...,...,...,...,...,...,...,...,...,...
357,13,129,0,30,0,39.9,0.569,44,1
298,14,100,78,25,184,36.6,0.412,46,1
455,14,175,62,30,0,33.6,0.212,38,1
88,15,136,70,32,110,37.1,0.153,43,1
159,17,163,72,41,114,40.9,0.817,47,1

## Ordenar por colunas, de forma crescente ou decrescente

In [22]:
df_diabetes[ ['idade','glicose', 'espessura_pele'] ]

     idade  glicose  espessura_pele
0       50      148              35
1       31       85              29
2       32      183               0
3       21       89              23
4       33      137              35
..     ...      ...             ...
763     63      101              48
764     27      122              27
765     30      121              23
766     47      126               0
767     23       93              31

[768 rows x 3 columns]

In [23]:
df_diabetes[['idade','num_gravidez']].sort_values(by=['idade','num_gravidez'], ascending=[True,False]).head(10)

     idade  num_gravidez
119     21             4
629     21             4
190     21             3
354     21             3
525     21             3
60      21             2
94      21             2
156     21             2
163     21             2
271     21             2

# Recategorização de Variáveis - Método cut()

In [24]:
df_diabetes['gravidez_categorica'] = pd.cut(x=df_diabetes['num_gravidez'],
                                              bins=[0, 2, 5, 100],
                                              labels=['0 a 2', '3 a 5', 'mais de 5'],
                                              include_lowest= True
                                            )

In [26]:
df_diabetes['gravidez_categorica'].value_counts()

0 a 2        349
mais de 5    219
3 a 5        200
Name: gravidez_categorica, dtype: int64

# Filtrando dados

## Filtrando colunas específicas

In [27]:
df_diabetes[['idade','num_gravidez','glicose']].tail(10)

     idade  num_gravidez  glicose
758     26             1      106
759     66             6      190
760     22             2       88
761     43             9      170
762     33             9       89
763     63            10      101
764     27             2      122
765     30             5      121
766     47             1      126
767     23             1       93

## Filtro com condicionais

In [28]:
df_diabetes[ df_diabetes['idade'] >=35 ]

,num_gravidez,glicose,pressao_dias,espessura_pele,teste_insulina,imc,diabetes_pedigree_function,idade,diabetes,gravidez_categorica
0,6,148,72,35,0,33.6,0.627,50,1,mais de 5
8,2,197,70,45,543,30.5,0.158,53,1,0 a 2
9,8,125,96,0,0,0.0,0.232,54,1,mais de 5
12,10,139,80,0,0,27.1,1.441,57,0,mais de 5
13,1,189,60,23,846,30.1,0.398,59,1,0 a 2
...,...,...,...,...,...,...,...,...,...,...
757,0,123,72,0,0,36.3,0.258,52,1,0 a 2
759,6,190,92,0,0,35.5,0.278,66,1,mais de 5
761,9,170,74,31,0,44.0,0.403,43,1,mais de 5
763,10,101,76,48,180,32.9,0.171,63,0,mais de 5
766,1,126,60,0,0,30.1,0.349,47,1,0 a 2

In [29]:
df_diabetes[ (df_diabetes['idade']>=35) &
              ( (df_diabetes['num_gravidez'] > 3) | (df_diabetes['num_gravidez'] == 0)  ) &
              (df_diabetes['pressao_dias'] > 80)].head(20)

,num_gravidez,glicose,pressao_dias,espessura_pele,teste_insulina,imc,diabetes_pedigree_function,idade,diabetes,gravidez_categorica
9,8,125,96,0,0,0.0,0.232,54,1,mais de 5
21,8,99,84,0,0,35.4,0.388,50,0,mais de 5
22,7,196,90,0,0,39.8,0.451,41,1,mais de 5
24,11,143,94,33,146,36.6,0.254,51,1,mais de 5
28,13,145,82,19,110,22.2,0.245,57,0,mais de 5
29,5,117,92,0,0,34.1,0.337,38,0,3 a 5
41,7,133,84,0,0,40.2,0.696,37,0,mais de 5
42,7,106,92,18,0,22.7,0.235,48,0,mais de 5
43,9,171,110,24,240,45.4,0.721,54,1,mais de 5
53,8,176,90,34,300,33.7,0.467,58,1,mais de 5
58,0,146,82,0,0,40.5,1.781,44,0,0 a 2
66,0,109,88,30,0,32.5,0.855,38,1,0 a 2
72,13,126,90,0,0,43.4,0.583,42,1,mais de 5
84,5,137,108,0,0,48.8,0.227,37,1,3 a 5
115,4,146,92,0,0,31.2,0.539,61,1,3 a 5
129,0,105,84,0,0,27.9,0.741,62,1,0 a 2
141,5,106,82,30,0,39.5,0.286,38,0,3 a 5
152,9,156,86,28,155,34.3,1.189,42,1,mais de 5
155,7,152,88,44,0,50.0,0.337,36,1,mais de 5
160,4,151,90,38,0,29.7,0.294,36,0,3 a 5

## Filtrando com vários condicionais (query)

In [30]:
df_diabetes.query('num_gravidez > 5 or idade > 40')

,num_gravidez,glicose,pressao_dias,espessura_pele,teste_insulina,imc,diabetes_pedigree_function,idade,diabetes,gravidez_categorica
0,6,148,72,35,0,33.6,0.627,50,1,mais de 5
2,8,183,64,0,0,23.3,0.672,32,1,mais de 5
7,10,115,0,0,0,35.3,0.134,29,0,mais de 5
8,2,197,70,45,543,30.5,0.158,53,1,0 a 2
9,8,125,96,0,0,0.0,0.232,54,1,mais de 5
...,...,...,...,...,...,...,...,...,...,...
759,6,190,92,0,0,35.5,0.278,66,1,mais de 5
761,9,170,74,31,0,44.0,0.403,43,1,mais de 5
762,9,89,62,0,0,22.5,0.142,33,0,mais de 5
763,10,101,76,48,180,32.9,0.171,63,0,mais de 5
766,1,126,60,0,0,30.1,0.349,47,1,0 a 2

## Filtro com iloc e loc

df_diabetes.iloc[rows, columns]

In [31]:
df_diabetes.iloc[10:15, :]

,num_gravidez,glicose,pressao_dias,espessura_pele,teste_insulina,imc,diabetes_pedigree_function,idade,diabetes,gravidez_categorica
10,4,110,92,0,0,37.6,0.191,30,0,3 a 5
11,10,168,74,0,0,38.0,0.537,34,1,mais de 5
12,10,139,80,0,0,27.1,1.441,57,0,mais de 5
13,1,189,60,23,846,30.1,0.398,59,1,0 a 2
14,5,166,72,19,175,25.8,0.587,51,1,3 a 5

In [32]:
df_diabetes.loc[[0,2,4,100], "num_gravidez":"teste_insulina"]

     num_gravidez  glicose  pressao_dias  espessura_pele  teste_insulina
0               6      148            72              35               0
2               8      183            64               0               0
4               0      137            40              35             168
100             1      163            72               0               0

# Exercício - Recategorizar a variável de desfecho

In [40]:
caminho_cvd = 'https://raw.githubusercontent.com/simplifique-treinamentos/datasets/master/hearts_processed_cleveland.csv'

In [41]:
df_cvd = pd.read_csv(caminho_cvd, sep=";", decimal=".")
df_cvd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [42]:
df_cvd.num.value_counts()

0    164
1     55
2     36
3     35
4     13
Name: num, dtype: int64

**Recategorizando a variável num (desfecho) em doente e não doente**

In [51]:
#@title
df_cvd['doente'] = pd.cut(x=df_cvd['num'],
                                              bins=[0, 0.9, 5], # De 0 a 0.9 - Não doente. De 1 a 5 - Doente
                                              labels=['0', '1'],
                                              include_lowest= True
                                            )
df_cvd['doente'].value_counts()

0    164
1    139
Name: doente, dtype: int64